* {
	box-sizing: border-box;
}

body {
	font-family: 'Orbitron', sans-serif;
	background-color: #F1F1F1;
}

nav > a {
	font-size: 2em;
	color: black;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
}

#blink {
	animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
	50% {opacity: 0;}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 200px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	position: relative;
	background-color: silver;
	margin: auto;
	padding-top: 40px;
	border: 1px solid #888;
	border-radius: 3px;
	width: 50%;
	height: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: drop;
	animation-duration: 0.5s;
}

.modal-body {
	padding: 2px 16px;
	text-align: center;
}

@keyframes drop {
	from {top:-300px; opacity: 0;}
	to {top:0; opacity: 1;}
}

#not-welcome, #room-exists {
	font-size: 0.8em;
	color: red;
	font-weight: bold;
	margin-left: 1px;
}

.grid-container {
	display: grid;
	justify-content: center;
	grid-gap: 10px 10px;
	grid-template-columns: 40% 23%;
	margin-top: 40px;
}

.grid1, .grid2 {
	height: 530px;
}

#chat-box {
	outline: black solid 0.15rem;
	height: inherit;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: whitesmoke;
	margin-bottom: 7px;
	font-family: 'Quantico', sans-serif;
}

.chat-messages {
	margin: 5px;
	display: grid;
	clear: both;
	grid-template-columns: 10% 90%;
	border: 1px solid silver;
	overflow-wrap: break-word;
	line-height: 95%;
}

.box {
	padding: 4px;
	position: relative;
}

.timestamp {
	font-size: 0.7em;
	color: dimgray;
}

.username {
	color: darkslategray;
}

#avatar	{
	text-align: center;
	width: 80%;
	position: absolute;
	top: 3px;
}

a {
	text-decoration: none;
	font-size: 0.9em;
}

i[class="far fa-file-pdf"] {
	color: tomato;
}

i[class="far fa-file-alt"] {
	color: gray;
}

#uploaded-img {
	margin-top: 5px;
    max-width: 45%;
    height: auto;
}

#file-upload {
	display: none;
}

label {
	color: darkgray;
	float: right;
	margin-right: 3px;
}

label:hover {
	color: gray;
}

#new-message {
	display: grid;
	align-items: center;
	grid-template-columns: 90% 10%;
}

.input-grid {
	display: grid;
	grid-template-columns: 95% 5%;
}

.input-grid>div:nth-child(1) {
	padding-left: 2px;
}

#message-box {
	margin-right: 5px;
	outline: black solid 0.15rem;
}

#submit-box {
	outline: black solid 0.15rem;
	text-align: center;
}

#submit-chat {
	width: 100%;
	outline: none;
	border: none;
	font-family: 'Orbitron', sans-serif;
}

#chat-message {
	width: 100%;
	outline: none;
	border: none;
	font-family: 'Orbitron', sans-serif;
}

.join-div, .leave-div, .welcome-div {
	margin: 5px;
	padding: 0 5px 0 5px;
	text-align: right;
	border: 1px solid lightsteelblue;
	background-color: lightsteelblue;
	font-size: 0.8em;
}

.leave-div {
	text-align: left;
	border: 1px solid silver;
	background-color: silver;
}

.welcome-div {
	text-align: center;
	border: 1px solid lavender;
	background-color: lavender;
}

select, #add-room, #new-room, #submit-room, #username, #submit-id {
	border: black solid 0.15rem;
	font-family: 'Orbitron', sans-serif;
}

select {
	font-weight: bold;
	width: 100%;
}

p, .text {
	font-size: 0.9em;
	padding: 3px;
}

#navigation {
	width: 100%;
	height: inherit;
	background-color: gainsboro;
	outline: silver solid 0.15rem;
	padding: 10px;
}

#add-room{
	width: 30px;
	font-weight: bold;
}

#create-room {
	padding: 0 6px 2px 1px;
	background-color: steelblue;
}

#room-created {
	font-size: 0.8em;
	margin-top: 5px;
	background-color: silver;
}

#new-room {
	width: 100%;
}

#submit-room {
	padding: 1px 2px;
	font-weight: bold;
}

.navigation-grid {
	display: grid;
	grid-template-columns: 90% 10%;
	grid-column-gap: 2px;
}

@media screen and (max-width: 1024px) {
	.grid-container {
		grid-template-columns: 60% 31%;
		justify-content: center;
	}

	#avatar {
		width: 80%;
		right: 4px;
	}

	.chat-messages {
		grid-template-columns: 8% 92%;
	}
}

@media screen and (max-width : 768px) {
	.grid-container { grid-template-columns: 60% 40%; }
	#avatar { 
		width: 85%;
		left:4px;
	}
}

@media screen and (max-width : 720px) {
	#create-room {
		padding: 0 8px 2px 1px;
	}

	#avatar { 
		width: 82%;
		left:5px;
	}

	h3 {
		margin-top: 0px;
	}

	.grid1 {
		grid-area: first;
		height: 550px;
		margin-bottom: 30px;
	}

	.grid2 {
		grid-area: second;
		height: auto;
	}

	.grid-container {
		display: grid;
		margin-top: 40px;
		height: auto;
		grid-template-areas:
			'second'
			'first';
		grid-template-columns: 95%;
		grid-template-rows: auto auto;
		grid-row-gap: 20px;
	}

	.chat-messages {
		grid-template-columns: 8% 92%;
	}
}

@media screen and (max-width : 480px) {
	.grid1 {
		grid-area: first;
		height: 500px;
	}

	.grid2 {
		grid-area: second;
		height: auto;
	}

	.grid-container {
		display: grid;
		margin-top: 20px;
		padding: 10px;
		height: auto;
		grid-template-areas:
			'second'
			'first';
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		grid-row-gap: 10px;
	}

	h3 {
		margin-top: 0px;
	}
}

@media screen and (max-width : 420px) {
	#submit-chat {
		font-size: 0.6em;
	}

	#avatar {
		width: 85%;
	}
}

@media screen and (max-width : 320px) {
	#submit-chat {
		font-size: 0.45em;
	}

	#avatar {
		width: 85%;
	}
}