<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quantico" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='robot-solid.svg') }}" sizes="16x16" type="image/svg+xml">
	<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
	
	<title>Flack</title>
</head>
<body>
	<nav>
		<a href="{{url_for('index')}}">// : FLACK<span id="blink">_</span></a>
	</nav>

	<!-- Chat area -->
	<div class="grid-container">
		<div class="grid1">
			<div id="chat-box">
				<!-- Messages go here. -->
			</div>
			<form id="new-message">
				<div id="message-box" enctype="multipart/form-data">
					<div class="input-grid">
						<div>
							<input id="chat-message" type="text" autocomplete="off" autofocus placeholder="Send a message">
						</div>
						<div>
							<label for="file-upload">
								<i class="fas fa-paperclip"></i>
							</label>
							<input type=file name=file id="file-upload">
						</div>
					</div>
				</div>
				<div id="submit-box" style="background-color: gainsboro;">
					<input id="submit-chat" type="submit" value="Chat">
				</div>
			</form>
		</div>
		<div class="grid2">
			<div id="navigation">
				<h3><span id="welcome">Welcome to Flack!</span></h3>
				<p>Join a channel or create a new one.</p>
				<strong>Current channel:</strong>
				<div class="navigation-grid">
					<div>
						<select>
							<optgroup label="Public Channels">
								{% for channel in channels %}
									<option value="{{ channel }}"># {{ channel }}</option>
								{% endfor %}
							</optgroup>
						</select>
					</div>
					<div>
						<input type="button" id="add-room" value="&#43;">
					</div>
				</div>
				<br>
				<span id="room-created"><strong><span style="color:steelblue;">▲</span> New channel successfully created!</strong></span>
				<!-- Create a new room -->
				<form id="create-room">
					<span class="text">Type a unique channel name:</span>
					<div class="navigation-grid">
						<div>
							<input type="text" name="new-room" id="new-room" autofocus maxlength="16" pattern="[A-Za-z0-9-]+" title="Alphanumeric & dash accepted (max. 16)." required>
						</div>
						<div>
							<input type="submit" id="submit-room" value="OK">
						</div>
					</div>
					<span id="room-exists">Oops, that channel already exists.</span>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal to prompt user -->
	<div class="modal">
		<div class="modal-content">
			<div class="modal-body">
				<h4>To commence chat, provide a display name:</h4>
				<form id="new-user">
					<input type="text" name="username" autocomplete="off" autofocus maxlength="12" pattern="[A-Za-z0-9]+" id="username" title="Max. of 12 alphanumeric characters." required>
					<input type="submit" name="go" value="Go" id="submit-id">
					<br>
					<span id="not-welcome">Oops, that username is taken.</span>
				</form>
			</div>
		</div>
	</div>

	<!-- Template for messages -->
	<script id="message" type="text/template">
		<div class="chat-messages">
			<div class="box">
				<img id="avatar" src="{{url_for('static', filename='robot-solid.svg')}}">
			</div>
			<div class="box">
				<strong class="username">{% raw -%} {{ user }} {%- endraw %}</strong> <span class="timestamp"> {% raw -%} {{ timestamp }} {%- endraw %}</span>
				<br>
				{% raw -%}
					{{#if file}}
						{{fileTypeCheck file}}
						<br>
					{{/if}}
					{{#if message}}
						{{message}}
					{{/if}}
				{%- endraw %}
			</div>
		</div>
	</script>
</body>
</html>